.center{
    text-align: center;
}
.divbg{
    /* background-image: url(../img/background.jpg); */
    background-size: cover;
    background-attachment: fixed;
    background-color: #f5f5f5;
}
.tablenav{
    background-color: white;
    width: 1140px;
    height: 35px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
}
.hrela{
    color:black;
    margin: 5px;
    font: optional;
    text-decoration: none;
    font-size: 20px;
}
.hrela:hover{
    color: black;
    size: 35px;
    margin: 5px;
    text-decoration: none;
}
.footerchinh{
    /* background-color:rgba(0,0,0,opacity option); */
    border-top-color:#716f6f;
    border-top-style: solid;
    border-top-width: 0.5px;
    background-color: white;
}
.divchinh{
    width: 1140px;
    margin: auto;
    z-index: 10;
}
.articlechinh{
    width: 100%;
    float:left;
}
.asidechinh{
    width: 25%;
    float: right;
}
.sectionchinh{
    width: 100%;
    overflow: hidden;
}
.baner{
    height: 200px;
    background-image: url(../img/phone3.jpg);
    border-radius: 5px;
    background-size: cover;
    margin-bottom: 10px;
    margin-top: 160px;
}
.banerhinh{
    background-size: cover;
}
.chubaner{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.chumot{
    font-size: 3.5rem;
    float: left;
    margin-left: 10px;
}
.chuhai{
    font-size: 2rem;
    float:right;
    margin-right: 10px;
}
.item{
    width: 222px;
    float: left;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-right: 5px;
}
.itembody{
    width: 100%;
}
.itemhader{
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.itemfooter{
    background-color: white;
    border-top: 1px solid rgba(0,0,0,.125);
    padding: 10px 2px 10px 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
    width: 100%;
}
.itemhader>p{
    margin: 0;
    padding: 10px;
}
.itemhinh{
    width: 100%;
    height: 180px;
}
.padingitem{
    padding: 10px;
    background-color: white;
}
.ctcarousel{
    width: 48%;
    margin: auto;
    float:left;
}
.img-container{ 
	height: auto; /** Chiều cao tự động **/ 
	margin: 0px auto; /** Cách trên dưới 10px và nằm giữa **/ 
	overflow: hidden; /* DÒNG BẮT BUỘC CÓ */
	position: relative; 
    width: 100%; /* Chiều rộng vùng chứa */ 
} 
.img-container img { 
	width: 100%; /** Hình ảnh rộng 100% so với vùng chứa **/ 
	transition: all 1s; /** Tạo độ mượt **/ 
} 
	
.img-container:hover img { 
	-webkit-transform: scale(1.2); transform: scale(1.2); 
}
.top-items{
    overflow: hidden;

}
.btsearch{
    color: black;
    border: 1px;
    background-color: #f3d1b6;
}
.iput{
    border:#a2b4b1; ;
}
.ct-item{
    overflow: hidden;
    margin:auto
}
.ct-item>strong{
    float: left;
}
.ct-itemm{
    float: left;
    border:#666a75;
    border-style:solid;
    border-width: 1px;
    width: 40px;
    margin-right: 2px;
    border-radius: 3px;
    text-align: center;
}
.itemitem{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.haderbanchay{
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}
.sale{
    background-color: brown;
    border-radius: 5px;
    color: white;
    margin-bottom: 3px;
}
.cthaderm{
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}
.quagc{
    width: 25%;
    float:right
}
.thanhchon{
    width: 25%;
    background-color:#f3d1b6;
    float: left;
    margin-right: 1%;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.cttab-thanhchon:hover{
    text-decoration: none;
}
.cttab-thanhchon>p{
    color:black;
    margin: 10px;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    border-color: white;
}
.item:hover{
    text-decoration: none;
}
.itemgia{
    margin-bottom: 0px;
    text-align: left;
}
.ctquagc{
    width: 100%;
    height: 307.78px;
}
.quagcm{
    background-color: white;
    width: 137.5px;
    height: 148.89px;
    float: left;
    margin-bottom: 10px;
    border-radius: 5px;
}
.quagch{
    background-color:black;
    height: 148.89px;
    width: 137.5px;
    float:right;
    margin-bottom: 10px;
    border-radius: 5px;
}
.quagcb{
    background-color:black;
    height: 148.89px;
    width: 137.5px;
    float:left;
    border-radius: 5px;
}
.quagcbon{
    background-color:white;
    height: 148.89px;
    width: 137.5px;
    float:right;
    border-radius: 5px;
}
.ctbody-nut{
    height: 108px;
    width: auto;
    margin-left: 7px;
    margin-bottom: 2px;
}
.cthader-nut{
    margin: 3px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.quagcm:hover{
    text-decoration: none;
}
.quagch:hover{
    text-decoration: none;
}
.quagcb:hover{
    text-decoration: none;
}
.quagcbon:hover{
    text-decoration: none;
}
.quagcb>.ctbody-nut{
    margin-left: 0px; 
}
.footerchinhchinh{
    width: 1140px;
    margin: auto;
    color: white;

}
.footerhai{
    background-color:#3d3a35;
}
.footera{
    overflow: hidden;
}
.footerchung{
    width: 25%;
    float: left;
}
.abc{
    color: black;
}
.abc:hover{
    text-decoration: none;
    color: tomato;
}
.abcd:hover{
    color: cornflowerblue;
}
.footermot{
    color: black;
    margin-top: 10px;
    margin-left: 5px;
}
.itemdam{
    font-weight: bold;
}
.gotopbtn{
    position: fixed;
    width: 40px;
    height: 40px;
    background:black;
    bottom: 40px;
    right: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 22px;
}
.hader-main{
    background-color: #f3d1b6;
    /* padding-bottom: 10px; */
    position: fixed;
    width: 100%;
    z-index: 20;
}
.nav-main{
    /* margin-bottom: 10px; */
}
.ct-text-header-items{
    width: 600px;
    background-color:#f3d1b6;
    border-radius: 99px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.banerqcleftright{
    position: relative;
}
.banerqcleft{
    position: fixed;
}
.banerqcright{
    position: fixed;
}
.comment-to-admin{
    position: fixed;
    left: 1620px;
    top: 640px;
    border-radius: 5px;
    background-color: white;
    width: 182px;
}
.body-comment-admin{
    margin: 10px;
}
.footer-comment-admin{
    /* margin: 10px; */
    border-top: 1px solid black;
    overflow: hidden;
}
.footer-comment-admin>p{
    margin: 5px 10px 0 10px;
    float: left;
}
.footer-comment-admin>button{
    margin: 5px 10px 0 10px;
    float: left;
    border-radius: 5px;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    height: 30px;
    margin-bottom: 5px;
    box-shadow: none;
}
.bd-comment-admin{
    overflow: hidden;
}
.img-comment-admin{
    float: left;
    height: 60px;
    margin-left: 20px;
}
.hd-comment-admin{
    margin-left: 10px;
    margin-right: 10px;
}
.hd-comment-admin>p{
    font-weight: bold;
    border-bottom: 1px solid black;
}
